html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
.form-group {
    margin: 15px 15px 0px 15px;
}


@media screen and (max-width: 576px) {
    .message-form-grid {
        display: grid;
        grid-template-columns: auto;
    }
}

@media screen and (min-width: 576px) {
    .message-form-grid {
        display: grid;
        grid-template-columns: 40% auto;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.toast-possition {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 11;
    padding: 20px;
}

.toast-message {
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 120px;
    padding: 10px;
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0 15px 30px rgba(0,0,0,0.08);
    display: grid;
    gap: 10px;
    grid-template-columns: 0.5fr 6fr 0.5fr;
}

.toast-sucess {
    border-left: 8px solid #47f764;
}

.toast-error {
    border-left: 8px solid #ff0000;
}

.toast-sucess i {
    color: #47f764;
}

.toast-error i {
    color: #ff0000;
}

.toast-message > .container-1 i {
    font-size: 40px;
}

.toast-message > .container-1, .container-2 {
    align-self: center;
}
