<div class="toast-possition">
    <div class="toast-sucess" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="container-1">
            <i class="fas fa-check-circle"></i>
        </div>
        <div class="container-2">
            <strong class="me-auto">Tudo pronto!</strong>
            <p>Sua mensagem foi enviada com sucesso!</p>
        </div>
        <div class="container-3">
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>


